{
  "swagger": "2.0",
  "info": {
    "title": "Caspio API - Create Inventory Table",
    "description": "Request to create the Inventory table in Caspio",
    "version": "1.0.0"
  },
  "host": "c3eku948.caspio.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/rest/v2/tables": {
      "post": {
        "summary": "Create Inventory Table",
        "description": "Creates a new table named Inventory with the specified fields",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token for authentication",
            "required": true,
            "type": "string",
            "default": "Bearer YOUR_ACCESS_TOKEN"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content type of the request",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Table definition",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "example": "Inventory"
                },
                "Columns": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "example": [
                    {
                      "Name": "INVENTORY_ID",
                      "Type": "AutoNumber",
                      "Unique": true,
                      "Label": "Inventory ID",
                      "Description": "Primary key for inventory record"
                    },
                    {
                      "Name": "STYLE",
                      "Type": "Text",
                      "Length": 50,
                      "Label": "Style",
                      "Description": "SanMar style number",
                      "Required": true
                    },
                    {
                      "Name": "COLOR_NAME",
                      "Type": "Text",
                      "Length": 100,
                      "Label": "Color Name",
                      "Description": "Color name",
                      "Required": true
                    },
                    {
                      "Name": "SIZE",
                      "Type": "Text",
                      "Length": 20,
                      "Label": "Size",
                      "Description": "Size name",
                      "Required": true
                    },
                    {
                      "Name": "WAREHOUSE_ID",
                      "Type": "Text",
                      "Length": 20,
                      "Label": "Warehouse ID",
                      "Description": "Warehouse ID",
                      "Required": true
                    },
                    {
                      "Name": "QUANTITY",
                      "Type": "Number",
                      "Label": "Quantity",
                      "Description": "Quantity available",
                      "Required": true
                    },
                    {
                      "Name": "LAST_UPDATED",
                      "Type": "DateTime",
                      "Label": "Last Updated",
                      "Description": "Last update timestamp",
                      "Required": true
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}