<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error - SanMar Inventory App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-danger mb-4">Inventory Data Error</h1>
                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Unable to retrieve inventory data for style: {{ style }}</h5>
                        <p class="card-text">{{ error_message }}</p>
                        
                        <div class="mt-4">
                            <a href="/" class="btn btn-primary">Return to Search</a>
                            <a href="/product/{{ style }}" class="btn btn-outline-secondary ml-2">Try Again</a>
                        </div>
                    </div>
                </div>
                
                <div class="mt-4">
                    <h5>Possible Solutions:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Verify that the style number "{{ style }}" is correct</li>
                        <li class="list-group-item">Check your SanMar API credentials</li>
                        <li class="list-group-item">Try again in a few minutes (the SanMar API may be temporarily unavailable)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
